body{
    background-image: url(cover-hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


.header{
    padding: 10px;
    background: black;
    height: 45px;
}

.header img{
    width: 100px;
    position: fixed;
    left: 350px;
}

.header nav{
    position: fixed;
    top: 20px;
    right: 250px;
    font-size: 20px;
}

.link{
    color: white;
    text-decoration: none;
    margin: 5px;
}

.pencils{
    object-fit: cover;
    position: absolute;
    bottom: 0;
    right: 0;
    height: 450px;
}

.main{
    margin: auto;
    /* border: 1px black solid; */
    width: 400px;
    height: 400px;
    margin-top: 300px;
}

.main h1{
    color: #584603;
    font-family: 'Segoe UI';
}

.btn{
    background: #DFAC06;
    border-radius: 5px;
    text-align: center;
    border: 1px solid #555555;
    text-decoration: none;
    max-width: 100px;
    padding: 8px 12px;
    display: inline-block;
    color: white;
    cursor: pointer;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.4);
    
}

.btn:active{
    color: red;
}

.btn:hover{
    background: gray;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.8);
}

