.flex {
  display: flex;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.justifyAround {
  justify-content: space-around;
}

.justifyCenter {
  justify-content: center;
}

.justifyEvenly {
  justify-content: space-evenly;
}

.justifyBetween {
  justify-content: space-between;
}

.alignCenter {
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.flex-column {
  flex-direction: column;
}

.flex-start {
  align-items: flex-start;
}

.flex-row {
  flex-direction: row;
}
