* {
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  width: 1000px;
}

.height {
  height: 100%;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.style-transperent {
  background-color: transparent;
}

.text-white {
  color: white;
}

.text-gray {
  color: var(--gray);
}

.text-red {
  color: var(--red);
}

.text-uppercase {
  text-transform: uppercase;
}

i {
  font-size: 24px;
}

.inlineBlock {
  display: inline-block;
}

.center-text {
  text-align: center;
}

.display-block {
  display: block;
}
