<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
      integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w=="
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/spacing.css" />
    <link rel="stylesheet" href="css/button.css" />
    <link rel="stylesheet" href="css/flex.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="stylesheet" href="css/navbar.css" />
    <link rel="stylesheet" href="css/banner.css" />
    <link rel="stylesheet" href="css/feature.css" />
    <link rel="stylesheet" href="css/team.css" />
    <link rel="stylesheet" href="css/trainingClasses.css" />
    <link rel="stylesheet" href="css/timetable.css" />
    <link rel="stylesheet" href="css/contact.css" />
    <link rel="stylesheet" href="css/footer.css" />

    
  </head>
  <body>
    <nav class="navbar">
      <div class="container flex justifyAround alignCenter">
        <a class="navbar-brand href="#">Gymso Fitness</a>
        <div class="dropDown">
            <button class="style-transperent btn--border-none"><i class="fa fa-bars text-white "></i></button>
            <div class="navItems">
                <div class="navColumn">
                    <a href="#home">Home</a>
                    <a href="#about">About us</a>
                    <a href="#classes">Classes</a>
                    <a href="#schedules">Schedules</a>
                    <a href="#contact">Contact</a>
                </div>
                <div class="navColumn">
                        <ul>
                            <li><i class="fab fa-facebook-f"></i></li>
                            <li><i class="fab fa-twitter"></i></li>
                            <li><i class="fab fa-instagram"></i></li>
                        </ul>
                    </div>
            </div>
        </div>
      </div>
    </nav>
    <section id="home" class="banner">
        <div class="bg-overlay">
            <div class="container height flex alignCenter justifyCenter mt-2">
                <div class="bannerContent ">
                    <h6 class="text-gray">new way to build a healthy lifestyle</h6>
                    <h1 class="text-white text-uppercase">Upgrade your body at Gymso Fitness</h1>
                    <a class="btn btn--border-none btn--text-decoration text-white" href="#">Get started</a>
                    <a class="btn btn--text-decoration btn--border-red text-red" href="#">Learn more</a>
                </div>
            </div>
        </div>
    </section>
    <section class="feature">
      <div class="container flex flex-column">
        <div class="featureInfo">
          <h2 class="text-white">New to the gymso?</h2>
          <h4 class="text-white">
            Your membership is up to 2 months FREE ($62.50 per month)
          </h4>
          <p>
            Gymso is free HTML template by Tooplate for your commercial website.
            Bootstrap v4.2.1 Layout. Feel free to use it.
          </p>
          <button class="btn text-white btn-red btn--border-none center-text">
            Become a member today
          </button>
        </div>
        <div class="featureHours mt-1">
          <h2 class="text-white">Working hours</h2>
          <strong class="text-white">Sunday: Closed</strong>
          <strong class="text-white mt-1 display-block">Monday-Friday:</strong>
          <p>7:00 AM - 10:00 PM</p>
          <strong class="text-white mt-1 display-block">Saturday</strong>
          <p>6:00 AM - 4:00 PM</p>
        </div>
      </div>
    </section>
    <section id="about" class="team">
      <div class="container flex justifyCenter alignCenter flex-column">
        <div class="teamInfo-Container mb-2">
          <h2>Hello, we are Gymso</h2>
          <p>
            You are NOT allowed to redistribute this HTML template downloadable
            ZIP file on any template collection site. You are allowed to use
            this template for your personal or business websites.
          </p>
          <p>
            If you have any question regarding
            <span>Gymso Fitness HTML template</span>, you can
            <span>contact Tooplate</span> immediately. Thank you.
          </p>
        </div>
        <div class="teamInfo-ContainerP ">
          <div class="teamInfo-imgContainer flex flex-column">
            <img src="Pictures/team-image.jpg" alt="tean" />
            <div class="teamInfo-trainer flex flex-column">
              <h3>Mary Yan</h3>
              <span>Yoga Instructor</span>
              <ul>
                <li><i class="fab fa-twitter"></i></li>
                <li><i class="fab fa-instagram"></i></li>
              </ul>
            </div>
          </div>
          <div class="teamInfo-imgContainer flex flex-column mt-2">
            <img src="Pictures/team-image01.jpg" alt="tean" />
            <div class="teamInfo-trainer flex flex-column">
              <h3>Catherina</h3>
              <span>Body trainer</span>
              <ul>
                <li><i class="fab fa-instagram"></i></li>
                <li><i class="fab fa-facebook-f"></i></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="classes" class="trainingClasses">
      <div class="container flex flex-column justifyCenter alignCenter">
        <div class="trainingHeader">
          <h6>Get A Perfect Body</h6>
          <h2>Our Training Classes</h2>
        </div>
        <div class="trainingClasses-Container">
          <div class="classesImg-Container flex flex-column mt-2">
            <img src="Pictures/yoga-class.jpg" alt="yoga" />
            <div class="classesImg-content">
              <h2>Yoga</h2>
              <span><strong>Trained by</strong> - Bella</span>
              <span class="price text-white">$50</span>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing</p>
            </div>
          </div>
          <div class="classesImg-Container mt-2">
            <img src="Pictures/crossfit-class.jpg" alt="yoga" />
            <div class="classesImg-content">
              <h2>Areobic</h2>
              <span><strong>Trained by</strong> - Mary</span>
              <span class="price text-white">$66</span>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing</p>
            </div>
          </div>
          <div class="classesImg-Container mt-2">
            <img src="Pictures/cardio-class.jpg" alt="yoga" />
            <div class="classesImg-content">
              <h2>Yoga</h2>
              <span><strong>Trained by</strong> - Bella</span>
              <span class="price text-white">$75</span>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="schedules" class="timetable">
      <div class="container center-text">
        <div class="trainingHeader inlineBlock">
          <h6 class="text-gray">our weekly GYM schedules</h6>
          <h2 class="text-white">Our Training Classes</h2>
        </div>
        <div class="table tableContainer m-0a">
          <table>
            <thead>
              <tr>
                <th><i class="fa fa-calendar"></i></th>
                <th>MON</th>
                <th>TUE</th>
                <th>WED</th>
                <th>THU</th>
                <th>FRI</th>
                <th>SAT</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>7:00 AM</td>
                <td>
                  <strong>Cardio</strong>
                  <span>7:00 AM - 9:00 AM</span>
                </td>
                <td>
                  <strong>Power Fitness</strong> <span>7:00 AM - 9:00 AM</span>
                </td>
                <td></td>
                <td></td>
                <td>
                  <strong>Yoga Section</strong> <span>7:00 AM - 9:00 AM</span>
                </td>
                <td></td>
              </tr>
              <tr>
                <td>9:00 AM</td>
                <td></td>
                <td></td>
                <td><strong>Boxing</strong> <span>8:00 AM - 9:00 AM</span></td>
                <td><strong>Areobic</strong> <span>8:00 AM - 9:00 AM</span></td>
                <td></td>
                <td><strong>Cardio</strong> <span>8:00 AM - 9:00 AM</span></td>
              </tr>
              <tr>
                <td>11:00 AM</td>
                <td></td>
                <td><strong>Boxing</strong> <span>11:00 AM - 2:00 PM</span></td>
                <td>
                  <strong>Areobic</strong> <span>11:30 AM - 3:30 PM</span>
                </td>
                <td></td>
                <td>
                  <strong>Body work</strong> <span>11:50 AM - 5:20 PM</span>
                </td>
                <td></td>
              </tr>
              <tr>
                <td>2:00 PM</td>
                <td><strong>Boxing</strong> <span>2:00 PM - 4:00 PM</span></td>
                <td>
                  <strong>Power lifting</strong> <span>3:00 PM - 6:00 PM</span>
                </td>
                <td></td>
                <td><strong>Cardio</strong> <span>6:00 PM - 9:00 PM</span></td>
                <td></td>
                <td>
                  <strong>Crossfit</strong> <span>5:00 PM - 7:00 PM</span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>
    <section id="contact" class="contactForm">
      <div class="container flex-column flex alignCenter">
        <div class="formContainer">
          <h2>Feel free to ask anything</h2>
          <form action="">
            <input class="formStyle" type="text" id="name" placeholder="Name" />
            <input
              class="formStyle"
              type="email"
              id="email"
              placeholder="Email"
            />
            <textarea
              class="formStyle"
              name="Message"
              id="msg"
              cols="30"
              rows="6"
              placeholder="Message"
            ></textarea>
            <button
              class="btn btn--border-none btn--width-fs text-white btn-black"
            >
              Send message
            </button>
          </form>
        </div>
        <div class="locationContainer">
          <h2>Where you can find us</h2>
          <p>
            <i class="fa fa-map-marker"></i> 120-240 Rio de Janeiro - State - of
            Rio de Janeiro, Brazil
          </p>
          <iframe
            class="google-map"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2434.661112485194!2d5.2792844160461625!3d52.394693453260096!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c617e9bd5bf85d%3A0x63b776623033a5e!2sRio%20de%20Janeiroplein%2C%201334%20HE%20Almere%2C%20Netherlands!5e0!3m2!1sen!2sde!4v1619701900632!5m2!1sen!2sde"
            width="100%"
            height="250"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
          ></iframe>
        </div>
      </div>
    </section>
    <footer class="footer">
      <p>
        Copyright © 2020 Gymso Fitness Co. <br />
        Design: <a href="https://www.tooplate.com">Tooplate</a>
      </p>
      <div class="footerContacts flex justifyCenter">
        <p class="mr-1"><i class="fa fa-envelope"></i> hello@company.co</p>
        <p class="mr-1"><i class="fa fa-phone"></i> 010-020-0840</p>
      </div>
    </footer>
  </body>
</html>
